body {
    background-color: rgb(255, 240, 172);
}

h1 {
    color: rgb(255, 174, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

h2 {
    color: rgb(255, 187, 40);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large
}

p {
    color: rgb(0, 0, 0);
}

th {
    color: rgb(248, 0, 0);
}

td {
    color: rgb(0, 0, 0);
}

.textfour {
    text-align: center;
}

.quadradointernofour {
    background-color: rgb(255, 214, 126);
    width: 30%;
    height: 300px;
}

.container {
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 36em;
}

.itemtwo table {
   width: 36em;
}